---
import { renderDate } from "../utils/utils";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---
<div class="post-item">
  <a href={`/writing/${post.id}`}>{post.data.title}</a><br/>
  {post.data.subtitle}<br/>
  {renderDate(post.data.published)}<br/>
  <br/>
</div>
