---
import PostPreview from "./PostPreview.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: Array<CollectionEntry<'blog'>>;
}

const { posts } = Astro.props;
---
<ul class="post-list">
  {
    posts
      .map(post => (
        <li class="post-preview-item">
          <PostPreview post={post}/>
        </li>))
  }
</ul>
